---
const { title, role, shortInfo, socialLinks, resumeLink, menu } = Astro.props;
import { Icon } from "astro-icon";
---

<div>
  <div class="space-y-4 max-w-xs">
    <div class="text-text-active dark:text-dark-text-active">
      <h1 class="lg:text-4xl font-bold tracking-tight text-5xl">
        <a href="/">{title}</a>
      </h1>
      <h2 class="lg:text-lg font-medium tracking-tight text-xl">
        {role}
      </h2>
    </div>
    <p>{shortInfo}</p>
  </div>
</div>

<!-- Nav -->
<nav class="flex-grow lg:flex items-center hidden" aria-label="In-page jump links">
  <ul class="w-max">
    {
      menu.map((link: { name: string; url: string }) => (
        <li>
          <a
            class="group flex items-center gap-2 py-3 duration-200 hover:text-text-active hover:dark:text-dark-text-active focus:text-text-active focus:dark:text-dark-text-active focus:outline"
            href={link.url}
          >
            <span class="border border-current transition-all group-hover:w-16 group-focus-visible:w-16 w-8" />
            <strong class="text-xs tracking-widest">{link.name.toUpperCase()}</strong>
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<div class="space-y-4">
  <!-- Resume Button -->
  {
    resumeLink ? (
      <p>
        <a
          href={resumeLink.url}
          class="inline-flex items-center gap-2 p-2 rounded border border-current duration-200 hover:text-text-active hover:dark:text-dark-text-active focus:text-text-active focus:dark:text-dark-text-active focus:outline"
        >
          <Icon name={resumeLink.icon} width="24" height="24" />
          <small>{resumeLink.name}</small>
        </a>
      </p>
    ) : (
      ""
    )
  }
  <!-- Social Links -->
  <div class="flex items-center gap-2" aria-label="Social media">
    {
      socialLinks.map(socialLink => (
        <a
          href={socialLink.url}
          title={`${socialLink.name} link`}
          class="duration-200 hover:text-text-active hover:dark:text-dark-text-active focus:text-text-active focus:dark:text-dark-text-active focus:outline"
        >
          <Icon name={socialLink.icon} width="32" height="32" />
        </a>
      ))
    }
  </div>
</div>
